<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookku">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/iconapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.SearchActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.FilsafatdanPsikologi" android:screenOrientation="portrait"/>
        <activity android:name=".activity.Agama" android:screenOrientation="portrait"/>
        <activity android:name=".activity.Sosial" android:screenOrientation="portrait"/>
        <activity android:name=".activity.Bahasa" android:screenOrientation="portrait"/>
        <activity android:name=".activity.SainsdanMatematika" android:screenOrientation="portrait"/>
        <activity android:name=".activity.Teknologi" android:screenOrientation="portrait"/>
        <activity android:name=".activity.SenidanRekreasi" android:screenOrientation="portrait"/>
        <activity android:name=".activity.LiteraturdanSastra" android:screenOrientation="portrait"/>
        <activity android:name=".activity.SejarahdanGeografi" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ViewBookActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.BooksActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.SplashScreen" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>